body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    background: #292929;
    color: white;
}

body a {
    color: rgb(206, 215, 255);
}

.header {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin: 0px;
    padding: 20px;
    background-color: #424242;
}

.content {
    font-size: 20px;
    width: fit-content;
    max-width: 1000px;
    margin: 40px auto 0 auto;
}

.content p {
    line-height: 1.6;
    margin-bottom: 16px;
}

.matrix-container {
    display: inline-block;
    font-family: monospace;
    font-size: 24px;
}

.matrix {
    border-collapse: collapse;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
}

.matrix td {
    padding: 10px;
    border: 1px solid black;
}

.marcacao {
    color: rgb(104, 255, 104);
}

.operation {
    display: flex;
    align-items: center;
}